<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='styles_main.css')}}">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/series-label.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://code.highcharts.com/modules/export-data.js"></script>
   <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>
<body>


    <div class="container-fluid">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-10" style="padding-right: 50px;">
                <span class="ghx_logo">
                    <img class="logo" alt="logo" src="{{url_for('static',filename='GHX.jpg')}}"/>
                </span>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1 p-3">
                {% if session['loggedin'] %}
               <span><strong>{{session.username}}</strong> <a href="/logout">Logout</a></span> 
            {% endif %}
            </div>
        </div>
    </div>



    <div class="container-fluid" style="background-color: rgb(237, 235, 235); border-radius: 10px; padding: 30px;">
    
        <div class="container-fluid" style="padding-top: 20px;">

            <form id="filter_form">
            <div class="row">
                
                <div class="mb-3 col-md-2">

                    
                    <select id="speciality_code" class="form-select">

                        <option selected disabled>Select Speciality Code</option>
                        <option value="Orthopedic">Orthopedics</option>
                        <option value="cardiology">Cardiology</option>

                    </select>
                </div>

                <div class="mb-3 col-md-2">

                    
                    <select id="procedure_id" class="form-select">

                        <option selected disabled>Select Procedure Id</option>
                        <option value="orknarth">orknarth</option>
                        <option value="ctcabg">ctcabg</option>

                    </select>
                </div>


                <div class="mb-3 col-md-2">

                    
                    <select id="forecast_horizon" class="form-select">

                        <option selected disabled>Select Forecast Horizon</option>
                        <option value="W">Weekly</option>
                        <option value="2W">Bi-Weekly</option>
                        <option value="M">Monthly</option>

                    </select>
                </div>

                <div class="mb-3 col-md-2">

                    
                    <select id="select_model" class="form-select">

                        <option selected disabled>Select Model</option>
                        <option value="arima">ARIMA</option>
                        <option value="ses">Simple Exponential Smoothing</option>
                        <option value="hw">Holt's Winter</option>
                        <option value="ma">Moving Averages</option>

                    </select>
                </div>

                
                
                <div class="col-md-2">
                 
                    <button type="submit" id="go" class="btn btn-primary w-25" style="align-items: center; ">
                        Go
                    </button>
                </div>
            

                <div class="col-md-2">
                    <form class="form-inline">
                        <input class="form-control w-75" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>

                
            </div>
        </form>
        <br>
        <br>
        
        </div> 

                <div id="loader" style="display: none; text-align: center;"><h5>Loading...</h5></div>
        <br>
        <br>
        <br>
        
        <div class="chart" id="chartContainer" style="padding-bottom: 50px; width: 100%; padding-bottom: 30px; margin-top: 0;">
            

        </div>
        
        
        <div class="table row m-0">
            <table id="myTable" class="table table-bordered shadow-lg" style="width: 100%; text-align: center;display:none;">
              <thead>
                <tr class="table-primary">
                  <th>Speciality</th>
                  <th>Procedure Code</th>
                  <th>Forecast Date</th>
                  <th>Actual Forecast</th>
                </tr>
              </thead>
              <tbody id="tbody"></tbody>
            </table>
          </div>
        
        
          <script src="{{url_for('static',filename='grid.js')}}"></script>
        <script src="{{url_for('static',filename='high_chart.js')}}"></script>
        

            
</body>
</html>





